.divFather {
  display: flex;
  max-width: 20%;
  margin: 2em auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

mat-form-field {
  display: block;
}